In [1]:
library(feather)
x <- runif(1e7)
x[sample(1e7, 1e6)] <- NA # 10% NA
df <- as.data.frame(replicate(10, x))
head(df)

          V1         V2         V3         V4         V5         V6         V7
1         NA         NA         NA         NA         NA         NA         NA
2 0.50639819 0.50639819 0.50639819 0.50639819 0.50639819 0.50639819 0.50639819
3 0.02910339 0.02910339 0.02910339 0.02910339 0.02910339 0.02910339 0.02910339
4 0.76295497 0.76295497 0.76295497 0.76295497 0.76295497 0.76295497 0.76295497
5 0.20224157 0.20224157 0.20224157 0.20224157 0.20224157 0.20224157 0.20224157
6 0.18438556 0.18438556 0.18438556 0.18438556 0.18438556 0.18438556 0.18438556
          V8         V9        V10
1         NA         NA         NA
2 0.50639819 0.50639819 0.50639819
3 0.02910339 0.02910339 0.02910339
4 0.76295497 0.76295497 0.76295497
5 0.20224157 0.20224157 0.20224157
6 0.18438556 0.18438556 0.18438556

In [2]:
object.size(df) # memory size

800001704 bytes

In [3]:
system.time(write_feather(df, "test.feather")) # write

   user  system elapsed
  0.479   1.168   1.703

In [4]:
system.time(read_feather("test.feather")) # read

   user  system elapsed
  0.735   0.693   2.225

In [5]:
data <- read_feather("test.feather") 
head(data)

          V1         V2         V3         V4         V5         V6         V7
1         NA         NA         NA         NA         NA         NA         NA
2 0.50639819 0.50639819 0.50639819 0.50639819 0.50639819 0.50639819 0.50639819
3 0.02910339 0.02910339 0.02910339 0.02910339 0.02910339 0.02910339 0.02910339
4 0.76295497 0.76295497 0.76295497 0.76295497 0.76295497 0.76295497 0.76295497
5 0.20224157 0.20224157 0.20224157 0.20224157 0.20224157 0.20224157 0.20224157
6 0.18438556 0.18438556 0.18438556 0.18438556 0.18438556 0.18438556 0.18438556
          V8         V9        V10
1         NA         NA         NA
2 0.50639819 0.50639819 0.50639819
3 0.02910339 0.02910339 0.02910339
4 0.76295497 0.76295497 0.76295497
5 0.20224157 0.20224157 0.20224157
6 0.18438556 0.18438556 0.18438556