In [1]:
import feather
import pandas as pd
import numpy as np
arr = np.random.randn(10000000) 
arr[::10] = np.nan # 10% nulls
df = pd.DataFrame({'column_{0}'.format(i): arr for i in range(10)})
df.head()

,column_0,column_1,column_2,column_3,column_4,column_5,column_6,column_7,column_8,column_9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.148976,-0.148976,-0.148976,-0.148976,-0.148976,-0.148976,-0.148976,-0.148976,-0.148976,-0.148976
2,2.478591,2.478591,2.478591,2.478591,2.478591,2.478591,2.478591,2.478591,2.478591,2.478591
3,-0.478077,-0.478077,-0.478077,-0.478077,-0.478077,-0.478077,-0.478077,-0.478077,-0.478077,-0.478077
4,1.251259,1.251259,1.251259,1.251259,1.251259,1.251259,1.251259,1.251259,1.251259,1.251259

In [2]:
%time feather.write_dataframe(df, 'test.feather') # Python notebook

CPU times: user 275 ms, sys: 1.15 s, total: 1.42 s
Wall time: 1.49 s

In [3]:
%time df = feather.read_dataframe('test.feather') # Python notebook

CPU times: user 699 ms, sys: 647 ms, total: 1.35 s
Wall time: 1.35 s

In [4]:
df.head()

,column_0,column_1,column_2,column_3,column_4,column_5,column_6,column_7,column_8,column_9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.148976,-0.148976,-0.148976,-0.148976,-0.148976,-0.148976,-0.148976,-0.148976,-0.148976,-0.148976
2,2.478591,2.478591,2.478591,2.478591,2.478591,2.478591,2.478591,2.478591,2.478591,2.478591
3,-0.478077,-0.478077,-0.478077,-0.478077,-0.478077,-0.478077,-0.478077,-0.478077,-0.478077,-0.478077
4,1.251259,1.251259,1.251259,1.251259,1.251259,1.251259,1.251259,1.251259,1.251259,1.251259