In [1]:
import feather
import pandas as pd
import numpy as np
arr = np.random.randn(10000000)
arr[::10] = np.nan # 10% nulls
df = pd.DataFrame({'column_{0}'.format(i): arr for i in range(10)})
df.head()

,column_0,column_1,column_2,column_3,column_4,column_5,column_6,column_7,column_8,column_9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.987280,0.987280,0.987280,0.987280,0.987280,0.987280,0.987280,0.987280,0.987280,0.987280
2,-0.296964,-0.296964,-0.296964,-0.296964,-0.296964,-0.296964,-0.296964,-0.296964,-0.296964,-0.296964
3,-0.016682,-0.016682,-0.016682,-0.016682,-0.016682,-0.016682,-0.016682,-0.016682,-0.016682,-0.016682
4,-0.471698,-0.471698,-0.471698,-0.471698,-0.471698,-0.471698,-0.471698,-0.471698,-0.471698,-0.471698

In [2]:
%time feather.write_dataframe(df, 'test.feather') # Python notebook

CPU times: user 294 ms, sys: 1.02 s, total: 1.32 s
Wall time: 1.5 s

In [3]:
%time df = feather.read_dataframe('test.feather')

CPU times: user 751 ms, sys: 989 ms, total: 1.74 s
Wall time: 3.26 s

In [4]:
df.head()

,column_0,column_1,column_2,column_3,column_4,column_5,column_6,column_7,column_8,column_9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.987280,0.987280,0.987280,0.987280,0.987280,0.987280,0.987280,0.987280,0.987280,0.987280
2,-0.296964,-0.296964,-0.296964,-0.296964,-0.296964,-0.296964,-0.296964,-0.296964,-0.296964,-0.296964
3,-0.016682,-0.016682,-0.016682,-0.016682,-0.016682,-0.016682,-0.016682,-0.016682,-0.016682,-0.016682
4,-0.471698,-0.471698,-0.471698,-0.471698,-0.471698,-0.471698,-0.471698,-0.471698,-0.471698,-0.471698